<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .days-container {
            display: flex;
            overflow: scroll;
        }
        .day-item {
            flex: 0 0 300px;
            border: 1px silver solid;
            margin: 5px;
            padding: 5px;
        }
    </style>
</head>
<body>
<div class="days-container">
    <% data.forEach(function(it) { %>
        <div class="day-item">
            <h3><%= it.day %></h3>
            <div>
                <% it.keywords_count.forEach(function(keyword, index) { %>
                    <% if (index > 20) return null; %>
                    <div><%= keyword.keyword %> : <%= keyword.count %></div>
                <% }); %>
            </div>
        </div>
    <% }); %>
</div>
</body>
</html>
