<!DOCTYPE html>
<html lang="ru">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% for(var i = 0; i < items.length; i++) {%>
        <li>
          <a href="<%= items[i].link %>"><%= items[i].title %></a>
        </li>
      <% } %>
    </ul>
  </body>
</html>
