<!DOCTYPE html>
<html lang="ru">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% for(var i = 0; i < items.length; i++) {%>
        <li><%= items[i].title %></li>
      <% } %>
    </ul>
  </body>
</html>
